configuration {
    show-icons: true;
    modi: "drun";
    disable-history: false;
    fullscreen: false;
    hide-scrollbar: true;
    sidebar-mode: false;
    matching: "fuzzy";
}


@theme "theme.rasi"
